<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<div th:fragment="menuDesplegableFragment">
		<div class="row" id="menu">
			<div class="row align-items-end">
				<div class="col-1"></div>
				<div class="col-2">
					<img src="images/ejemplo.jpg" alt="..."
						class="mi-imagen img-thumbnail">
				</div>
				<div class="col-2">
					<table class="table table-hover text-center table-borderless">
						<thead>
							<tr>
								<th scope="col">First</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Mark</td>
							</tr>
							<tr>
								<td>Jacob</td>
							</tr>
							<tr>
								<td>Larry</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-2">
					<table class="table table-hover text-center table-borderless">
						<thead>
							<tr>
								<th scope="col">Second</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Mark</td>
							</tr>
							<tr>
								<td>Jacob</td>
							</tr>
							<tr>
								<td>Larry</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-2">
					<table class="table table-hover text-center table-borderless">
						<thead>
							<tr>
								<th scope="col">Third</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Mark</td>
							</tr>
							<tr>
								<td>Jacob</td>
							</tr>
							<tr>
								<td>Larry</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-2"></div>
			</div>
		</div>
	</div>
</body>
</html>